node_modules
.env
asset/submissions/UOG/UOG-FA-24-GCH-GCH2401/BNwbZGFlsrkIoxKRC7X4/sonnt/ascii.txt
asset/submissions/UOG/UOG-FA-24-GCH-GCH2401/BNwbZGFlsrkIoxKRC7X4/sonnt/CW HCI PDF.pdf
asset/submissions/UOG/UOG-FA-24-GCH-GCH2401/Project 1/sonnt/CW HCI PDF.pdf
asset/submissions/UOG/UOG-SP-24-GCH-Testing2/Testing/ductm/test.txt
asset/submissions/UOG/UOG-SP-24-GCH-Testing2/Testing/ductm/test.txt
.env
